<!--<p>Canvas (Left) and New clipped PNG (Right)</p>-->
<!--<canvas id="canvas" width=120 height=110></canvas>-->
<!--<img id="clipped" src="" width=120 height=110><br>-->
<!--<p>Original Image</p>-->
<!--<img src="images/1.jpg">-->

<!--<button ng-click="clip()">clip Img</button>-->

<div class="container">
    <div class="row" style="border-bottom: 1px dotted #808080;padding-bottom: 10px;">
        <div class="col-sm-2 hidden-xs">
            <img class="img-responsive img-rounded" src="images/user.jpg">
        </div>
        <div class="col-sm-10">
            <h3 style="margin-top: 0;">江湖里的那些大侠，锄强扶弱之余在干什么呢？</h3>
            <p>谢邀我曾经认识一位大侠，武功盖世，人称操大刀，名字颇是风骚，可惜姓不是很好，有阵子比武，小厮吐字不利索，本说得是操大侠来了，一哆嗦说成来操大侠了。比武的一众大侠便落荒而逃，都说江东有人丧心病狂，专操大侠。一时间，姓操的风光无限</p>
            <div>
                <a href="#">赞 <span class="badge">42</span></a>
                <a href="#">收藏 <span class="badge">42</span></a>
                <button type="button" class="btn btn-primary">休闲</button>
                <span class="pull-right"><img src="http://static.zhihu.com/static/favicon.ico"></span>
            </div>
        </div>
    </div>

</div>