<section id="dg-container" class="dg-container">
    <div class="dg-wrapper">
        <a href="#">
            <img src="images/1.jpg" alt="image01">
            <div>hello,{{greetTo}}</div>
        </a>
        <a href="#">
            <img src="images/2.jpg" alt="image01">
            <div>2</div>
        </a>
        <a href="#">
            <img src="images/3.jpg" alt="image01">
            <div>3</div>
        </a>
        <a href="#">
            <img src="images/4.jpg" alt="image01">
            <div>4</div>
        </a>
        <a href="#">
            <img src="images/5.jpg" alt="image01">
            <div>5</div>
        </a>
        <!-- ... -->
    </div>
    <nav>
        <span class="dg-prev"><</span>
        <span class="dg-next">></span>
    </nav>
</section>
        <a href="#clipImg">clipImg</a>