<div class="row" style="margin-top: -15px;">
    <div class="introduceToolInfo">
        <p class="collectToolArea">
            <a class="collectLink" ng-click="clickToolTip($event)" ng-href="{{link}}">搜藏神器</a>
            <span ng-show="isShowTip" class="alarm installToolTip">
                <span class="glyphicon glyphicon-exclamation-sign"></span>请拖入收藏栏或右键添加到收藏夹
            </span>
        </p>
        <!--<div ng-show="isShowTip" class="center-block alarm">-->
            <!--<span class="glyphicon glyphicon-exclamation-sign"></span>请拖入收藏栏或右键添加到收藏夹-->
        <!--</div>-->
        <ul class="collectToolFeature">
            <li>
                首款跨浏览器、跨平台的云收藏夹。无论何时何地，一键收藏，所有终端无缝同步。妈妈在也不担心我的收藏夹丢失了。
            </li>
            <li>
                首款基于收藏夹的互动交友，让收藏夹自动牵线搭桥，找到真正志趣相投的人不在是梦。
            </li>
            <li>
                首款基于收藏夹分享，让精彩不再沉寂，让收藏变的更有价值。
            </li>
            <li>
                轻点鼠标即可免费拥有以上所有功能，心动了吗，赶紧往下戳吧。
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" style="border-right: 1px dotted gray">
        <h3 style="font-weight: bold">拖入收藏栏</h3>

        <div class="panel panel-default">
            <div class="panel-heading">安装方法</div>
            <div class="panel-body">
                按住鼠标左键不放，将<a class="inlineInstallTool collectLink" ng-click="clickToolTip($event)" ng-href="{{link}}">搜藏神器</a>拖入浏览器收藏栏，松开鼠标即可。
                <img class="demonImg" src="../images/collectBar.png">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">使用方法</div>
            <div class="panel-body">
                <ul class="listCommonStyle">
                    <li>浏览到感兴趣的网页时点击收藏栏的“搜集神器”标签，即可打开收藏面板</li>
                    <li>在收藏面板中用Soeasy的帐号登录</li>
                    <li>输入该网址的关键字，选择收藏夹，点击收藏，即可完成收藏。</li>
                    <li>进入Soeasy个人空间，打开相应的收藏夹即可浏览所有收藏    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h3 style="font-weight: bold">添加到收藏夹</h3>

        <div class="panel panel-default">
            <div class="panel-heading">安装方法</div>
            <div class="panel-body">
                右键点击<a class="inlineInstallTool collectLink" ng-click="clickToolTip($event)" ng-href="{{link}}">搜藏神器</a>，在弹出菜单中选择“添加到收藏夹”
                <img class="demonImg" src="../images/collectFolder.png">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">使用方法</div>
            <div class="panel-body">
                <ul class="listCommonStyle">
                    <li>浏览到感兴趣的网页时点击收藏夹中的“搜集神器”菜单，即可打开收藏面板</li>
                    <li>在收藏面板中用Soeasy的帐号登录</li>
                    <li>输入该网址的关键字，选择收藏夹，点击收藏，即可完成收藏。</li>
                    <li>进入Soeasy个人空间，打开相应的收藏夹即可浏览所有收藏    </li>
                </ul>
            </div>
        </div>
    </div>
</div>