<div class="row">
    <div class="col-sm-offset-3 col-sm-6 containerPanel">
        <div style="margin-top: 20px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">用户登录</h4>
                </div>
                <div class="panel-body">
                    <div ng-show="isLoginError" class="alert alert-danger" role="alert">用户名或密码错误</div>
                    <form class="form-horizontal" role="form" name="loginForm">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="loginInfo.name" required class="form-control" id="inputEmail3" placeholder="用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-8">
                                <input type="password" ng-model="loginInfo.password" required class="form-control" id="inputPassword3" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <div class="checkbox" style="padding-left: 0">
                                    <label>
                                        <input type="checkbox" ng-model="loginInfo.isCheck" ng-true-value="1" ng-false-value="0"> 记住我
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" ng-click="login(loginInfo)" ng-disabled="loginForm.$invalid">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>