<div class="container-fluid" style="margin-top: 10px;">
    <div class="row hide">
        <div class="col-sm-3">
            <span class="pull-left glyphicon glyphicon-home" ng-hide="isSubFolder"  style="color: lightblue;"></span>
            <span class="pull-right plusIcon pull-left glyphicon glyphicon-plus"></span>
        </div>
        <div class="col-sm-7">
            <div class="input-group searchField" style="margin: 10px 0;">
                <input ng-model="searchCollection" type="text" class="form-control" placeholder="search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-right-border" style="padding-left: 0">

            <div class="fixedNav" style="position: fixed">
                <div class="clearfix folderHeader">
                    <span class="pull-left leftHomeBack glyphicon glyphicon-home" ng-hide="isSubFolder"></span>
                    <span class="folderTitle">{{parentFolder.name}}</span>
                    <span ng-click="backToParentFolder()" class="pull-left leftHomeBack glyphicon glyphicon-chevron-left" ng-show="isSubFolder"></span>
                    <span ng-click="addFolder()" class="pull-right plusIcon glyphicon glyphicon-plus"></span>
                </div>
                <div id="folderPanel" class="animated folderPanel" ng-class="{bounceOutLeft: outLeftAnimate, bounceInLeft: inLeftAnimate}">

                    <div class="media folderItem">
                        <span class="folderIcon pull-left glyphicon glyphicon-file" style="font-size: 40px;"></span>
                        <div class="media-body" ng-click="getParentFolderItems()">
                            <h4 class="media-heading">收藏文章</h4>
                            <span class="badge">{{folderRootLinksCount}}</span>
                        </div>
                    </div>

                    <div ng-mouseover="mouseoverItem = true" ng-mouseout="mouseoverItem=false" class="media folderItem" ng-class="{'folderList-openFolder': folder.isOpen}"  ng-repeat="folder in folders">
                        <span class="folderIcon pull-left glyphicon" ng-class="{'glyphicon-folder-close': folder.subCount==0, ' glyphicon-th-large': folder.subCount>0}" style="font-size: 40px;"></span>
                        <!--<span class="folderIcon pull-left glyphicon" ng-class="{'glyphicon-folder-close': !folder.isOpen, 'glyphicon-folder-open': folder.isOpen}" style="font-size: 40px;"></span>-->
                        <div class="media-body" ng-click="openFolder(folder)">
                            <h4 class="media-heading">{{folder.name}}</h4>
                            <span class="badge" ng-show="folder.subCount == 0">{{folder.sitesAmout || 0}}</span>
                            <span class="badge" ng-show="folder.subCount > 0">子收藏夹 {{folder.subCount || 0}}</span>
                        </div>
                        <div class="folderRightIcon " ng-click="modifyFolder(folder)"><span class="glyphicon glyphicon-cog" ng-show="folder.isOpen || mouseoverItem" ></span></div>
                        <!--ng-class="{'glyphicon-eye-open': folder.subCount==0, 'glyphicon-chevron-right': folder.subCount>0}"-->
                        <!--<div class="folderRightIcon"><span class="glyphicon " ng-class="{'glyphicon-hand-right': folder.isOpen }"></span></div>-->
                    </div>
                </div>

                <!--<div class="media folderItem" ng-click="addFolder()">-->
                    <!--<span class="plusIcon pull-left glyphicon glyphicon-plus"></span>-->
                    <!--<div class="media-body centerMediaBody">-->
                        <!--添加收藏夹-->
                    <!--</div>-->
                    <!--<div class="folderRightIcon"><span class="glyphicon " ng-class="{'glyphicon-eye-open': isAddFolderShow }"></span></div>-->
                <!--</div>-->

            </div>

        </div>
        <div class="col-sm-7 userProfileItems" ng-show="isFolderItemsShow">
            <div class="clearfix userProfileItems-header">
                <div class="input-group pull-left folderMark">
                    <span class="glyphicon glyphicon-bookmark"></span>
                    <a href="javascript:;" ng-click="getParentFolderItems()"><span class="folderMark-folderName">{{parentFolder.name}}</span></a>
                    <span class="folderMark-folderName separator" ng-show="navFolder">{{navFolder.name}}</span>
                </div>
                <div class="input-group searchField pull-right" style="margin: 10px 0;">
                    <input ng-model="searchCollection" type="text" class="form-control" placeholder="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="userProfileItem" ng-repeat="item in folderItems|filter:searchCollection">
                <!--
                <div class="collectDatePoint"><span class="glyphicon glyphicon-record"></span></div>
                <span class="collectDate">4/21</span>
                -->
                <h3 style="margin-top: 0;"><a href="#pageView/{{item.folderIds[0]}}/{{item.id}}">{{item.title}}</a></h3>
                <p>
                    <span style="margin-right: 5px;" class="label label-primary" ng-repeat="lb in labels = getLabels(item.label)">{{lb}}</span>
                </p>
                <p>{{item.describe}}</p>
                <div style="text-align: right">
                    <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span><span>{{item.likeAmount}}</span></a>
                    <!--<span><img src="http://static.zhihu.com/static/favicon.ico"></span>-->
                </div>

            </div>
            <div class="folderEmpty alarm" ng-show="!folderItems || folderItems.length==0">
                <p><span class="glyphicon glyphicon-exclamation-sign"></span> 还没有收藏内容</p>
            </div>
        </div>
        <div class="col-sm-7 addFolderCol" ng-show="isAddFolderShow">
            <div class="input-group folderNavTitle">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="folderMark-folderName">{{newFolder.headerText}}</span>
            </div>
            <form ng-show="isLogin()" class="form-horizontal addFolderForm" name="addFolderForm" role="form">
                <div class="form-group">
                    <label for="folderName" class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="newFolder.name" ng-minlength="2" ng-maxlength="64" name="folderName" required ng-change="checkFolderName(newFolder, addFolderForm)" class="form-control" id="folderName" placeholder="名称">
                        <!--<div class="alert alert-danger" ng-show="addFolderForm.folderName.$error.required">请输入文件名</div>-->
                        <div class="alert alert-danger" ng-show="addFolderForm.folderName.$error.duplicate">该收藏夹已经存在</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">权限</label>
                    <div class="col-sm-10">
                        <label class="radio-inline radio">
                            <input type="radio" data-toggle="radio" data-radiocheck-toggle="radio" checked="true" ng-model="newFolder.security" name="folderSecurity" value="0"> 公开
                        </label>
                        <label class="radio-inline radio">
                            <input type="radio" data-toggle="radio" data-radiocheck-toggle="radio" ng-model="newFolder.security" name="folderSecurity" value="1"> 隐私
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">归类</label>
                    <div class="col-sm-10">
                        <!--<select flat-invoke="select2" data-toggle="select" class="folderDirectory form-control select select-default mrs mbm" ng-model="newFolder.parentId" ng-options="folder.id as folder.name for folder in folderDropdownList">-->
                        <select class="folderDirectory form-control" ng-model="newFolder.parentId" ng-options="folder.id as folder.name for folder in folderDropdownList">
                            <!--<option value="">-- 根目录 --</option>-->
                        </select>
                        <!--<p class="form-control-static">{{parentFolder.name}}</p>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">分类</label>
                    <div class="col-sm-10">
                        <!--<input type="hidden" name="selectedCategory" ng-model="selectedCategory" required>-->
                        <label class="radio-inline radio" ng-repeat="category in categoryList">
                            <input flat-invoke="radiocheck" type="radio" data-toggle="radio" data-radiocheck-toggle="radio" ng-model="newFolder.category" name="myCategory" value="{{category.id}}" required>{{category.name}}
                        </label>
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox2" value="option1">影视-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox3" value="option1">游戏-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox4" value="option1">新闻-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox5" value="option1">健康饮食-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox6" value="option1">穿衣打扮-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox7" value="option1">安居乐业-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox8" value="option1">出行安全-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox9" value="option1">专业知识-->
                        <!--</label>-->
                        <!--<label class="checkbox-inline">-->
                            <!--<input type="checkbox" id="inlineCheckbox10" value="option1">其他-->
                        <!--</label>-->

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!addFolderForm.$valid" type="button" ng-click="submitAddFolder(newFolder)" class="btn btn-default">{{newFolder.actionText}}</button>
                    </div>
                </div>
            </form>
            <div ng-hide="isLogin()" class="alert alert-warning" role="alert" style="margin: 10px 0;">
                请先<a href="#/login">登录</a>后在添加。还没帐号？<a href="#">一步注册</a>
            </div>
        </div>
        <div class="col-sm-2 col-left-border">
            <div class="userInfoFixed">
                <a href="#userProfile"><img class="img-responsive img-rounded" ng-src="images/user/{{user.image}}"></a>
                <span>{{user.name}}</span>
                <div class="sideCard" style="text-align: left">
                    <div class="sideCardSection">
                        <div class="header">推荐用户</div>
                        <div class="recommendList">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="img-rounded" ng-src="images/user/{{user.image}}" >
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">JOAH</h4>
                                    <div>摄影，文学</div>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="img-rounded" ng-src="images/user/{{user.image}}" >
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Cherry</h4>
                                    <div>摄影，文学</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sideCardSection">
                        <div class="header">热门收藏夹</div>
                        <ul class="recommendList">
                            <li><span class="label label-default">Joah</span></li>
                            <li><span class="label label-default">Cherry</span></li>
                            <li><span class="label label-default">joah01</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>